DB_HOST=host.region.rds.amazonaws.com
DB_PORT=db_port
DB_USERNAME=db_username
DB_PASSWORD=db_password
DB_NAME=db_name



# AWS_REGION=eu-central-1
# DB_SECRET_ARN=RhBOn9UMdP^=PIFWauvt^16bC8P-U1
# CDK_DEFAULT_REGION=eu-central-1