ENV_LOGIN="yours_github_account_login" # GitHub account name
ENV_PASSWORD="TEST_PASSWORD" # GitHub account password
ENV_SECRET_KEY="TE9HSU49VEVTVF9QQVNTV09SRA==" # Encoded GitHub account login and password