CART_SERVICE_URL=https://icuxr5y3mb.execute-api.eu-central-1.amazonaws.com/prod/api/profile/cart
PRODUCT_SERVICE_URL=https://t9pw6zuxgh.execute-api.eu-central-1.amazonaws.com/prod
IMPORT_SERVICE_URL=https://qoo8ttio9e.execute-api.eu-central-1.amazonaws.com/prod/import
AUTHORIZATION_SERVICE_URL=https://icuxr5y3mb.execute-api.eu-central-1.amazonaws.com/prod/api/auth
PROFILE_SERVICE_URL=https://icuxr5y3mb.execute-api.eu-central-1.amazonaws.com/prod/api/profile

# //     order: "https://d3i4i6d65bcscf.cloudfront.net/api/profile/cart",