CART_SERVICE_URL=https://wu9umi35c8.execute-api.eu-central-1.amazonaws.com/prod/api/profile/cart
PRODUCT_SERVICE_URL=https://9i0kqimvjg.execute-api.eu-central-1.amazonaws.com/prod
IMPORT_SERVICE_URL=https://tnj6bqz37j.execute-api.eu-central-1.amazonaws.com/prod/import
AUTHORIZATION_SERVICE_URL=https://wu9umi35c8.execute-api.eu-central-1.amazonaws.com/prod/api/auth
PROFILE_SERVICE_URL=https://wu9umi35c8.execute-api.eu-central-1.amazonaws.com/prod/api/profile

# //     order: "https://d3i4i6d65bcscf.cloudfront.net/api/profile/cart",